
<mat-toolbar color="primary" class="expanded-toolbar">
  <span>
    <button mat-button routerLink="/"><mat-icon>home</mat-icon></button>
    <button mat-button routerLink="/">{{ title }}</button>
  </span>
</mat-toolbar>

<router-outlet></router-outlet>
