<div class="sign-up">
  <div class="sign-up__logo">
    <img src="/assets/logo.svg" />
  </div>
  <mat-card>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <h2 class="sign-up__title">Sign Up</h2>
        <div *ngIf="signUpSuccess" class="sign-up__success">
          You are succesfully signed up.
        </div>
        <mat-error *ngIf="signUpInvalid">
          Something went wrong.
        </mat-error>
        <mat-form-field class="full-width-input">
          <input matInput placeholder="First name" formControlName="firstName" required>
          <mat-error>
            Please provide a firstname
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput placeholder="Last name" formControlName="lastName" required>
          <mat-error>
            Please provide a lastname
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput placeholder="Email" formControlName="email" required>
          <mat-error>
            Please provide a valid email address
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput type="password" placeholder="Password" formControlName="password" required>
          <mat-error>
            Please provide a valid password with minimal 8 characters and at least one uppercase character. The password should not contain the first and last name.
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput type="password" placeholder="Repeat password" formControlName="confirmPassword" required>
          <mat-error>
            The password does not match the first password
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="secondary">Sign Up</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
