$success: #99d899;

.sign-up {
  &__logo {
    width: 240px;
    margin: 0 auto;
  }

  &__title {
    text-transform: uppercase;
  }

  &__success {
    margin: 1rem 0;
    padding: .5rem;
    background: $success;
  }

  // material design changes
  .mat-card {
    max-width: 360px;
    margin: 2em auto;
    padding: 3rem;
    text-align: center;
  }

  .mat-form-field {
    display: block;
  }

  .mat-raised-button {
    width: 100%;
    text-transform: uppercase;
  }

  .mat-raised-button:not([class*=mat-elevation-z]),
  .mat-card:not([class*=mat-elevation-z]) {
    box-shadow: 0 0 0 0;
  }
}

