$primary: #673ab7;
$secondary: #ff6200;
$white: #fff;

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $primary;
}

.mat-secondary {
  background: $secondary;
  color: $white;
}
